<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <input id="file" type="file" />
    <script>
      window.onload = function () {
        var fileObj = document.querySelector('#file')
        var xhr = new XMLHttpRequest()
        fileObj.onchange = function () {
          xhr.open('post', '/upload')
          xhr.onreadystatechange = function () {
            if (xhr.readyState === 4) {
              if ((xhr.status >= 200 && xhr.status < 300) || xhr.status === 304) {
                console.log(xhr.responseText)
              } else {
                console.log(xhr.status)
              }
            }
          }

          var formData = new FormData()
          formData.append('file', fileObj.files[0])
          xhr.send(formData)
        }
      }
    </script>
  </body>
</html>
